img.lazyload {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
}
    img.lazyload_loaded {
       -webkit-transition: filter 0.5s ease 0.1s, opacity 0.6s ease 0s;
           -moz-transition: filter 0.5s ease 0.1s, opacity 0.6s ease 0s;
                     transition: filter 0.5s ease 0.1s, opacity 0.6s ease 0s;
    filter: blur(0);
    opacity: 1;
}
img:not(.loaded):not(.loading) {
    background-color: #252D38;
}
img.fancybox-image {
    filter: blur(0);
    opacity: 1;
}
img.img-fluid {
    filter: blur(0);
    opacity: 1;
}