img:not(.lazyload_loaded) {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
}
    img.lazyload_loaded {
       -webkit-transition: filter 0.4s ease 0.2s, opacity 0.5s ease 0s;
           -moz-transition: filter 0.4s ease 0.2s, opacity 0.5s ease 0s;
                     transition: filter 0.4s ease 0.2s, opacity 0.5s ease 0s;
    filter: blur(0);
    opacity: 1;
}